---
- name: Install and start Nginx on Ubuntu servers
  hosts: ubuntu
  become: true
  remote_user: ubuntu

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Start and enable nginx
      service:
        name: nginx
        state: started
        enabled: true

    - name: Create assets folder
      ansible.builtin.file:
        path: /usr/share/nginx/html/assets
        state: directory

    - name: Copy index file
      ansible.builtin.copy:
        src: index.html
        dest: /usr/share/nginx/html/index.html

    - name: Copy app.js
      ansible.builtin.copy:
        src: assets/app.js
        dest: /usr/share/nginx/html/assets/app.js

    - name: Copy styles.css
      ansible.builtin.copy:
        src: assets/styles.css
        dest: /usr/share/nginx/html/assets/styles.css

    - name: List nginx html directory
      ansible.builtin.command: ls -ltr /usr/share/nginx/html
      register: nginx_ls

    - name: Show nginx html files
      ansible.builtin.debug:
        var: nginx_ls.stdout
