---
- name: Install and start Nginx on Amazon Linux servers
  hosts: amazon
  become: yes
  remote_user: ec2-user

  tasks:
    - name: Update system
      yum:
        name: "*"
        state: latest

    - name: Install nginx
      yum:
        name: nginx
        state: present

    - name: Start and enable nginx
      service:
        name: nginx
        state: started
        enabled: yes

- name: Install and start Nginx on Ubuntu servers
  hosts: ubuntu
  become: yes
  remote_user: ubuntu

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Start and enable nginx
      service:
        name: nginx
        state: started
        enabled: yes
